.wrapper {
  width: 100%;
  background: rgb(235, 235, 235);
  box-shadow: rgb(238, 225, 225);
  border-radius: 8px;
  padding-top: 8px;
  max-height: min((100vh - 96px) - 60px, 734px);
  min-height: 100px;
}
